###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

# Tell GitHub's language statistics to ignore certain files

dist/* linguist-vendored
gulpfile.js linguist-vendored
typings/modules/* linguist-vendored
typings/globals/* linguist-vendored
.tasks/* linguist-vendored